body{
    margin: 0px;
}

h1{
 color: rgb(30, 136, 185);
 
}
#topo{
    width: 100%;
    background-color: #1b69b8;
    height: 30px;
    
}
.largura-site{
    width: 900px;
    margin: auto;/*centraliza na página*/
}
#logotipo{
    width: 140px;
    height: 24px;
    float: left;
}
.imghome{
    float: left;
    margin-top: 80px;

}
#menu{
    width: auto;
    height: auto;
    float: right
}
#menu a{
    color: whitesmoke;
    font-size: 15px;
    text-decoration: none;
    margin-left: 50px;
}

#menu a:hover{

    text-decoration: underline;
}
    

#conteudohome{
    width: 545px;
    float: right;
    height: auto;
    margin-top: 100px;
}
.conteudo{
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid cornflowerblue;
}